{% extends 'base.html' %}
{% from 'render_field.html' import render_field_errors %}

{% block subtitle %} Login {% endblock %}

{% block css %}
<style type="text/css">
.transition{
    opacity:0;
}
</style>
{% endblock %}



{% block content %}
<div class="container transition">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div id="main_title"><h1 class="page-header" style="display:inline">Registration</h1></div>
      <br />
      <div class="panel panel-default">
        <div class="panel-body">
          <form method='POST' action="{{ url_for('users.register') }}">
              {{ form.hidden_tag() }}

              <label>{{ form.email.label }}</label>
              {{ render_field_errors(form.email) }}
              {{ form.email(class='form-control') }}
              <br />
              <label>{{ form.password.label }}</label>
              {{ render_field_errors(form.password) }}
              {{ form.password(class='form-control') }}
              <br />
              <label>{{ form.password_confirmation.label }}</label>
              {{ render_field_errors(form.password_confirmation) }}
              {{ form.password_confirmation(class='form-control')}}
              <br />
              {{ form.submit(class='btn btn-default') }}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}



{% block js %}
<script src="{{ url_for('static',filename='js/jquery.transit.min.js')}}"></script>

<script type="text/javascript">
$(document).ready(function() {
    $('.transition').transition({opacity:1});

});
</script>
{% endblock %}
