{% extends 'base.html' %}
{% from 'render_field.html' import render_field_errors %}
{% block subtitle %} Add Resource Category {% endblock %}


{% block css %}
<style type="text/css">
.transition{
    opacity:0;
}
</style>
{% endblock %}



{% block content %}
<div class="container transition">
    <div class="row">
        <div id="main_title"><h1 class="page-header" style="display:inline">Add Category</h1></div>
    </div>
</div>
<div class="container transition">
    <br />
    <br />
    <div class='row'>
      <div class="col-md-8 col-md-offset-2">
        <form method='POST' action=''>
          {{ form.hidden_tag() }}

          <label>{{ form.name.label }}</label>
          {{ render_field_errors(form.name) }}
          {{ form.name(class='form-control') }}
          <br />
          {{ form.submit(class='btn btn-default') }}
        </form>
      </div>
    </div>
</div>
{% endblock %}


{% block js %}
<script src="{{ url_for('static',filename='js/jquery.transit.min.js')}}"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('.transition').transition({opacity:1});
});
</script>
{% endblock %}
